// back-end
DATABASE_URL="postgresql://xxxx:xxxx@localhost:5432/conecta-dev"

CLOUDINARY_CLOUD_NAME=yyyyyyyy
CLOUDINARY_URL=cloudinary://qqqqqqqqqqqq:nnnnnnnnnn@yyyyyyyy/image/uploud
CLOUDINARY_API_KEY=qqqqqqqqqqqq
CLOUDINARY_API_SECRET=nnnnnnnnnn

// front-end
VITE_API_URL=http://localhost:XXXX